<div class="max-w-3xl mx-auto mt-10 p-8 bg-white shadow-xl rounded-sm">
    
    @if (isLoading) {
        <div class="text-center text-blue-600 font-medium">Cargando post...</div>
    }

    @if (post) {
        <h2 class="text-4xl font-extrabold text-gray-900 mb-4">{{ post.title }}</h2>
        
        <div class="border-t border-gray-200 pt-6">
            <p class="text-gray-700 whitespace-pre-line">{{ post.content }}</p>
        </div>
        
    } @else if (!isLoading) {
        <div class="text-center text-red-500 font-medium">No se pudo cargar el post. ID: {{ postId }}</div>
    }

    <button type="button" routerLink="/" class="mt-8 hover:bg-gray-600 cursor-pointer px-3 py-2 rounded-sm hover:text-white transition duration-150">
        ← Volver al listado de posts
    </button>
</div>